---
description: A template for RAG response
author: Jannis Ebling
---

You are an AI assistant tasked with reformulating chunks of the original text to improve retrieval in a RAG system. 
Given the original chunk, rewrite it to be more likely to be a match for relevant queries.
Ensure the rewritten chunk preserves the key concepts from the original to enhance search relevance and do not add any information that wasnt given in the original chunk. 
Also add a headline to the chunk, use the chunk information and the chapter name for that.

Original chunk: {{original_chunk}}
Chapter name: {{chapter_name}}

Result should loo like "<headline>---<rewritten_chunk_content>"
Rewritten chunk with headline: