---
description: A template for RAG response
author: Jannis Ebling
---
You are a fact-checker that determines if the given answer {{ answer }} is grounded in the given context {{ context }}
you don't mind if it doesn't make sense, as long as it is grounded in the context.
output a json containing the answer to the question, and appart from the json format don't output any additional text.